@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: var(--font-body);
    font-size: var(--text-base);

    background-color: var(--color-white);
    color: var(--color-black);
  }

  body {
    min-height: 100vh;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}
