@theme {
  /* ===== Font Styles ===== */
  --font-body: "PublicSans", sans-serif;
  --font-heading: "SourceSansPro", sans-serif;

  /* ===== Color Palette ===== */
  --color-*: initial;

  /* Color Black and White */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Color Blue */
  --color-primary: #00346a;
  --color-primary-dark: #001a33;
  --color-primary-light: #186cbc;

  /* Color Gray */
  --color-secondary: #373737;
  --color-secondary-dark: #1f1f1f;
  --color-secondary-light: #f5faff;

  /* Color Yellow */
  --color-accent: #ffcc00;
  --color-accent-dark: #ffb902;
  --color-accent-light: #fee102;
}

/* ========== ***** ========== */

@layer base {
  html {
    @apply text-base, font-body, bg-white, text-black, antialiased;
  }

  body {
    @apply min-h-screen, overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

/* ========== ***** ========== */

@layer components {
  /* 
    Template: 
      .component {
        @apply ...classes
      } 
  */

  /* 
    Add the following:
    * .btn-rounded-filled
    * .btn-rounded-outlined
    * .btn-square-filled
    * .btn-square-outlined
    * .card
    * etc.
  */
}

@utility flex-center {
  @apply flex items-center justify-center;
}

/* 
  Note to self:
  - Use fluid texts ex. text-[min(10vw, 70px)] // try to figure how this works
  - Make use of prefixes that lessen js code. // Make use of documentation
*/
